<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Juan Camilo Zapata</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/dist/vue.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="images/coverphoto.jpg" class="center-block img-responsive img-rounded" alt="Juan Camilo Zapata"/>
                <p class="text-center">

                  <a href="mailto:juanczapata@gmail.com" target="_blank" class="btn btn-social-icon">
                    <i class="fa fa-2x fa-envelope"></i>
                  </a>

                  <a href="https://github.com/juankk" target="_blank" class="btn btn-social-icon btn-github">
                    <i class="fa fa-2x fa-github"></i>
                  </a>

                  <a href="https://au.linkedin.com/in/juankk" target="_blank" class="btn btn-social-icon btn-linkedin">
                    <i class="fa fa-2x fa-linkedin"></i>
                  </a>

                  <a href="https://twitter.com/shoeazap" target="_blank" class="btn btn-social-icon btn-twitter">
                    <i class="fa fa-2x fa-twitter"></i>
                  </a>
                </p>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">
                <h1 class="text-center">Juan Camilo Zapata</h1>
                <p class="text-center">Software Engineer passionate about web-development and writing clean reusable code.</p>
              </div>
              <aside class="col-sm-12 col-md-8 col-lg-8">
                <p class="text-center">Certified Scrum Master</p>
              </aside>
            </div>

        </div>
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#workexperience" aria-controls="workexperience" role="tab" data-toggle="tab">Work Experience</a></li>
            <!--<li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>-->
            <!--<li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>-->
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="workexperience">
              <div v-for="exp in exps">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h2>{{exp.title}} <small>{{exp.from}} - {{exp.to}}</small></h2>
                  <h3>{{exp.position}}</h3>
                  <div v-html="exp.description"></div>
                </div>
                <aside class="col-sm-12 col-md-12 col-lg-12">
                  <p>{{exp.aside}}</p>
                </aside>
                <hr>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="projects">
              <div class="row">
                <div v-for="project in projects">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>{{project.name}} <small>{{project.date}}</small></h2>
                    <h3>{{project.technologies}}</h3>
                    <p>{{project.description}}</p>
                    <aside>
                      <p><a href="{{project.link}}" rel="nofollow" target="__blank" >Website</a> developed with: {{project.company}}</p>
                    </aside>
                  </div>
                  <hr class="hidden-md hidden-lg">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h2>Great Eastern Ranges <small>2014</small></h2>
                  <h3>Wordpress, CSS3, Javascript</h3>
                  <p>Migration of site from joomla to wordpress creating a new wordpress template and connecting the backend with Salesforce. We also integrated google maps to display the area of the great eastern ranges within a google map.</p>
                  <aside>
                    <p><a href="http://www.greateasternranges.org.au/" rel="nofollow" target="__blank" >Website</a></p>
                  </aside>
                </div>
                <hr>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h2>Verosol <small>2014</small></h2>
                  <h3>Wordpress, CSS3, Javascript</h3>
                  <p>Creation of Wordpress template to manage all the products and categories that Verosol manages within their product ranges.</p>
                  <aside>
                    <p><a href="http://www.verosol.com.au/" rel="nofollow" target="__blank" >Website</a></p>
                  </aside>
                </div>
                <hr class="hidden-md hidden-lg">
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="skills">
              <h2>Front End</h2>
              <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1">
                  <h3><span class="label label-default">Javascript</span>
                  <span class="label label-default">Backbone</span>
                  <span class="label label-default">CSS3</span></h3>
                </div>

              </div>
              <h2>Backend End</h2>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h3><span class="label label-default">Node JS</span></h3>
                  <h3><span class="label label-default">PHP</span></h3>
                  <h3><span class="label label-default">JAVA</span></h3>
                  <h3><span class="label label-default">.Net</span></h3>
                  <h3><span class="label label-default">Zend Framework</span></h3>
                </div>
              </div>
              <h2>CMS</h2>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h3><span class="label label-default">Wordpress</span></h3>
                  <h3><span class="label label-default">Drupal</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <footer>
                    <p>2016 Juan Camilo Zapata</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/dist/bootstrap.min.js"></script>
    <script src="js/dist/output.min.js"></script>
  </body>
</html>
