<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <title>Juan Camilo Zapata</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <div class="bg-white dark:bg-black">
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
          <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              Announcing our next round of funding. <a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Data to enrich your online business</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
              <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
            </div>
          </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
          <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
      </div>
    </div>
    <div class="dark:bg-black">
      <ul role="list" class="divide-y divide-gray-100">
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Leslie Alexander</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">leslie.alexander@example.com</p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Co-Founder / CEO</p>
          <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
        </div>
      </li>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Michael Foster</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">michael.foster@example.com</p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Co-Founder / CTO</p>
          <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
        </div>
      </li>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Dries Vincent</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">dries.vincent@example.com</p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Business Relations</p>
          <div class="mt-1 flex items-center gap-x-1.5">
            <div class="flex-none rounded-full bg-emerald-500/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-500">Online</p>
          </div>
        </div>
      </li>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Lindsay Walton</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">lindsay.walton@example.com</p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Front-end Developer</p>
          <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
        </div>
      </li>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Courtney Henry</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">courtney.henry@example.com</p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Designer</p>
          <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
        </div>
      </li>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Tom Cook</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">tom.cook@example.com</p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Director of Product</p>
          <div class="mt-1 flex items-center gap-x-1.5">
            <div class="flex-none rounded-full bg-emerald-500/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-500">Online</p>
          </div>
        </div>
      </li>
      </ul>
    </div>
    



    <div class="container">
        <div class="jumbotron">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="images/coverphoto.jpg" class="center-block img-responsive img-rounded" alt="Juan Camilo Zapata"/>
                <p class="text-center">

                  <a href="mailto:juanczapata@gmail.com" target="_blank" class="btn btn-social-icon">
                    <i class="fa fa-2x fa-envelope"></i>
                  </a>

                  <a href="https://github.com/juankk" target="_blank" class="btn btn-social-icon btn-github">
                    <i class="fa fa-2x fa-github"></i>
                  </a>

                  <a href="https://au.linkedin.com/in/juankk" target="_blank" class="btn btn-social-icon btn-linkedin">
                    <i class="fa fa-2x fa-linkedin"></i>
                  </a>

                  <a href="https://twitter.com/juan_soloh" target="_blank" class="btn btn-social-icon btn-twitter">
                    <i class="fa fa-2x fa-twitter"></i>
                  </a>
                </p>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">
                <h1 class="text-center">Juan Camilo Zapata</h1>
                <p class="text-center">Software Engineer passionate about web-development and writing clean reusable code.</p>
              </div>
              <aside class="col-sm-12 col-md-8 col-lg-8">
                <p class="text-center"><a href="https://www.scrumalliance.org/community/profile/jzapata7" rel="nofollow" target="__blank">Certified Scrum Master</a></p>
              </aside>
            </div>

        </div>
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#workexperience" aria-controls="workexperience" role="tab" data-toggle="tab">Work Experience</a></li>
            <!--<li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
            <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>-->
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="workexperience">
              <div v-for="exp in exps">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h2>{{exp.title}} <small>{{exp.from}} - {{exp.to}}</small></h2>
                  <h3>{{exp.position}}</h3>
                  <div v-html="exp.description"></div>
                </div>
                <aside class="col-sm-12 col-md-12 col-lg-12">
                  <p>{{exp.aside}}</p>
                </aside>
                <hr>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="projects">
              <div class="row">
                <div v-for="project in projects">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>{{project.name}} <small>{{project.date}}</small></h2>
                    <h3>{{project.technologies}}</h3>
                    <p>{{project.description}}</p>
                    <aside>
                      <p><a href="{{project.link}}" rel="nofollow" target="__blank" >Website</a> developed with: {{project.company}}</p>
                    </aside>
                  </div>
                  <hr class="hidden-md hidden-lg">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h2>Great Eastern Ranges <small>2014</small></h2>
                  <h3>Wordpress, CSS3, Javascript</h3>
                  <p>Migration of site from joomla to wordpress creating a new wordpress template and connecting the backend with Salesforce. We also integrated google maps to display the area of the great eastern ranges within a google map.</p>
                  <aside>
                    <p><a href="http://www.greateasternranges.org.au/" rel="nofollow" target="__blank" >Website</a></p>
                  </aside>
                </div>
                <hr>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h2>Verosol <small>2014</small></h2>
                  <h3>Wordpress, CSS3, Javascript</h3>
                  <p>Creation of Wordpress template to manage all the products and categories that Verosol manages within their product ranges.</p>
                  <aside>
                    <p><a href="http://www.verosol.com.au/" rel="nofollow" target="__blank" >Website</a></p>
                  </aside>
                </div>
                <hr class="hidden-md hidden-lg">
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="skills">
              <h2>Front End</h2>
              <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1">
                  <h3><span class="label label-default">Javascript</span>
                  <span class="label label-default">Backbone</span>
                  <span class="label label-default">CSS3</span></h3>
                </div>

              </div>
              <h2>Backend End</h2>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h3><span class="label label-default">Node JS</span></h3>
                  <h3><span class="label label-default">PHP</span></h3>
                  <h3><span class="label label-default">JAVA</span></h3>
                  <h3><span class="label label-default">.Net</span></h3>
                  <h3><span class="label label-default">Zend Framework</span></h3>
                </div>
              </div>
              <h2>CMS</h2>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <h3><span class="label label-default">Wordpress</span></h3>
                  <h3><span class="label label-default">Drupal</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <footer>
                    <p>2023 Juan Camilo Zapata</p>
                </footer>
            </div>
        </div>
    </div>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86202214-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
